*, *::before, *::after {
  box-sizing: border-box;
}

input {
  padding: 3px;
  border-radius: 3px;
}

.main {
  margin: 10px;
  padding: 10px;
  background-color: var(--color);
}

.border {
  display: inline-block;
  position: relative;
  margin: 10px;
  width: 400px;
  height: 400px;
  border: 2px solid black;
  box-sizing: content-box;
  overflow: hidden;
}

.viewport {
  position: absolute;
  bottom: 0px;
}

.ball {
  background-color: red;
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.modal {
  display: inline-block;
  background-color: skyblue;
  border: 2px solid black;
  box-sizing: content-box;
  text-align: center;
  width: 225px;
  height: 40px;
  margin: auto;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
}

div {
  margin: 10px;
}
