<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Peasy Assets</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
</head>

<body>
  <h2>Easy peasy Assets</h2>
  <div id="ui">
    <img id="butler">
  </div>
  <div id="font-test">This should be a "space font" after download</div>
</body>

</html>
