*, *::before, *::after {
  box-sizing: border-box;
}

.border {
  outline: 1px solid black;
  min-height: 100px;
}

.viewport {
  margin-left: 50px;
}

.entity {
  position: absolute;
  height: 64px;
  width: 32px;
  border-radius: 25%;
  background-color: blue;
}

.HUD {
  padding-left: 10px;
}
