*,
*::before,
*::after {
  box-sizing: border-box;
}

.border {
  outline: 1px solid black;
  min-height: 100px;
}

.viewport {
  margin-left: 100px;
  margin-top: 100px;
}

.entity {
  position: absolute;
  height: 64px;
  width: 32px;
  border-radius: 25%;
  background-color: blue;
}

.HUD {
  padding: 0px 10px;
}

.HUD>div {
  padding: 0px 10px;
  background-color: #fff5;
}

.fade {
  background-color: white;
}
